rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 既存の運用に合わせて全公開（応急処置）
      allow read, write: if true;
    }
  }
}
